<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">

    <title>User rent</title>
 <!--/*/ <th:block th:include="fragments/headerinc :: head"></th:block> /*/-->

     
</head>
<body>
<div class="container">
    <!--/*/ <th:block th:include="fragments/header :: header"></th:block> /*/-->
    <h2>User Details</h2>
        <div>
            <form class="form-horizontal">
                <div class="form-group">
                    <label class="col-sm-2 control-label">User Id:</label>
                    <div class="col-sm-10">
                        <p class="form-control-static" th:text="${user.userId}">User Id</p></div>
                </div>
                <div class="form-group">
					<label class="col-sm-2 control-label">First Name:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${user.userFirstName}" >First Name:</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">Second Name:</label>
					<div class="col-sm-10">
						<p  class="form-control-static" th:text="${user.userSecondName}" >Second Name:</p>
					</div>
				</div>
				
				<div class="form-group">
					<label class="col-sm-2 control-label">$2a$04$zUtZxmFcJqT0yT.EBTGY1uQi2Iicxo0y1OxQnfXMR.OPZcHePXf0.:</label>
					<div class="col-sm-10">
						<p class="form-control-static" th:text="${user.userName}" >Login:</p>
					</div>
				</div>
            </form>
    </div>
</div>

</body>
</html>